/*Selector Universal*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*Navegador*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.logo {
    position: relative;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.navbar a{
    display: inline-block;
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: 2s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar a:hover{
    color: #007bff;
}

/*Primer section*/
.hero{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 85vh;
    background: #ffffff no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.hero-content{
    max-width: 600px;
}

.hero-content h2{
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 15px;
}

.hero-content h2 span {
    background-color: white;
    color: #575454;
    padding: 1px 4px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    border: 1px solid #575454;
    margin-left: 10px;
}

.hero-content h1{
    font-size: 30px;
    font-weight: 700;
    margin: -3px 0;
    padding-bottom: 15px;
}

.hero-content p{
    font-size: 15px;
    padding-bottom: 30px;
}

.hero-content a{
    display: inline-block;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 7px;
    transition: 2s;
    font-weight: 400;   
}

.hero-content a:hover{
    background-color: #014a97;
}

.hero-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #007bff;
    border-radius: 50%;
    color: #007bff;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 2s;

}
.hero-icons a:hover{
    background-color: #007bff;
    color: #ffffff;
}

.hero img {
    position: relative;
    border: 2px solid white; /* Borde blanco */
    border-radius: 20px; /* Bordes redondeados */
    width: 300px;
    height: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 1;
  }

/*Sobre mi*/
.sobremi{
    padding: 40px 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d0e1f9;
}

/*.sobremi-img img{
    padding-bottom: 5%;
    padding-top: 5%;
    max-width: 200px;
    height: auto;
    width: 100%;
    padding-left: 5%;
}*/

.sobremi h2{
    padding: 5px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;

}


.sobremi h4{
    font-size: 29px;
    font-weight: 600;
    color: black;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 1.5;
    color: rgba(0,0,0,0.6);
}

/*Experiencia*/

.experience{
    padding: 40px 150px;
    text-align: center;
    margin-bottom: 40px;
    background-color: #ffffff;
}

.experience-p{
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 1.5;
    color: rgba(0,0,0,0.6);
}

.container-experience{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.container-experience-item{
    border: solid 3px transparent;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-align: left;
    padding: 20px;
    transition: background-color 2s;
}

.fecha{
    font-size: 10px;
    color: rgba(0,0,0,0.6);
    padding: 5px;
    font-weight: 400;
}

.container-experience-item h3{
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
}

.container-experience-item h4{
    font-size: 12px;
    padding: 5px;
    font-weight: 500;
}

.container-experience-item p{
    font-size: 11px;
    padding: 5px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
}

.container-experience-item:hover{
    background-color: #007bff;
}



/*----------------HABILIDADES-----------------------*/
.habilidades{
    width: 100%;
    background-color: #d0e1f9;
    text-align: center;
    padding: 40px 180px;
}

.habilidades h2{
    font-size: 22px;
    padding-bottom: 10px;

}

.habilidades p{
    font-size: 13px;
    padding-bottom: 60px;
}

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contenedor-item{
    width: 170px; 
    height: 210px;
    border-radius: 10px;
    padding: 20px 60px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #ffffff;
    transition: 3s;
}

.contenedor-item:hover{
    background-color: #0078d4;
}

.contenedor-item i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #333333;
    padding-bottom: 30px;
}

.contenedor-item h2 {
    font-size: 22px;
    color: #0078d4; 
    transition: 2s;
}

.contenedor-item h2:hover{
    color: #ffffff;
}

.contenedor-item h4 {
    font-size: 18px;
    color: #333333; 
}

/*-----------------PROYECTOS------------------*/
.proyects {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 40px;
}

.proyects h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.project .text-content {
    max-width: 45%;
    text-align: left;
}

.project img {
    max-width: 45%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    color: #555;
}

/*------------------------SERVICIOS------------------------*/

.services {
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 10px;
}

.services img {
    width: 500px;
    height: 400px;
    margin-right: 30px;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
}

.services h3 {
    margin: 0;
    padding-bottom: 10px; /* Espacio entre el h3 y el p */
}

.services p {
    margin: 0;
    width: 600px;
}


/*Cuarto section*/
.testimonials{
    width: 100%;
    padding: 50px 0;
    background-color: #d0e1f9;
    text-align: center;
}

.testimonials h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.testimonials h2{
    font-size: 32px;
    margin-bottom: 50px;
}

.contcli{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cliente{
    width: 45%; 
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
    display: flex;
    gap: 20px;
}

.cliente img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.cliente-info {
    text-align: left;
}

.cliente-info h5 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.cliente-info h7 {
    margin: 0;
    font-size: 16px;
    color: #888;
    display: block;
    margin-bottom: 15px;
}

.cliente-info p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

/*Quinto section*/
.contacto{
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 40px 20px;
}

.contacto h2{
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 28px;
}

.contacto a{
    display: inline-block;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.5s;
    font-weight: 400; 
    margin-bottom: 20px;  
}

.contacto p{
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 16px;
    color: #555;
}

.contacto a:hover{
    background-color: #014a97;
}

.contco{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contco-item{
    width: 300px; 
    height: 150px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.contco2{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 300px;
    height: 90px;
}

.contco2 i{
    padding-right: 14px;
}

.contco-item h4 {
    margin-bottom: 10px;
}

.contco2 p {
    margin: 0;
    font-size: 14px; /* Ajusta el tamaño del texto */
    padding-top: 35px;
}

/*Footer*/

.linea{
    border: 0; 
    height: 1px; 
    background-color: grey;
}

.pie {
    display: flex;
    justify-content: space-between;
    padding-top: none;
}